<script src="https://kit.fontawesome.com/d1011d1ac7.js">></script>
<link rel="stylesheet" href="static/css/styles.css" type"text"/>
<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="static/images/profile.jpg" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">Mark Jeanson Pelaez</p>
           <p class="regular">Information Technology</p>
         </div>
         <ul>
           <li>

             <div class="data">
                Llavac Siniloan Laguna
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fa-solid fa-phone"></i></div>
             <div class="data">
               +639453141871
             </div>
           </li>
           <li>
             <div class="icon">
              <i class="fa-solid fa-at"></i>
             </div>
             <div class="data">
               markjeanson.pelaez@lspu.edu.ph
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skills</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               HTML
             </div>
             <div class="skill_progress">
               <span style="width: 65%;"></span>
             </div>
             <div class="skill_per">65%</div>
           </li>
           <li>
             <div class="skill_name">
               CSS
             </div>
             <div class="skill_progress">
               <span style="width: 45%;"></span>
             </div>
             <div class="skill_per">45%</div>
           </li>
           <li>
             <div class="skill_name">
               JAVA
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>
           <li>
             <div class="skill_name">
               PYTHON
             </div>
             <div class="skill_progress">
               <span style="width: 20%;"></span>
             </div>
             <div class="skill_per">20%</div>
           </li>
           <li>
             <div class="skill_name">
               C#
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">60%</div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-facebook-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Facebook</p>
               <p>Mark Jeanson Pelaez</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p>@markjpelaez</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p>Mark Pelaez</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About Me</p>
         </div>
        <p> Hi i am Mark Jeanson Pelaez i am a disciplined and enthusiastic programmer. Eager to join the team to boost productivity and engage in problem solving.</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li>
                <div class="date">2013 - 2015</div>
                <div class="info">
                     <p class="semi-bold">Work Immersion</p>
                  <p>Our high school work immersion is about helping in the town municipality</p>
                </div>
            </li>

        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date">2008-2013</div>
                <div class="info">
                     <p class="semi-bold">Llavac Elementary School</p>
                  <p>It was my time in elementary school days</p>
                </div>
            </li>
            <li>
              <div class="date">2014-2018</div>
              <div class="info">
                     <p class="semi-bold">Siniloan National High School</p>
                  <p>Best high school life and but still one of the best experience</p>
                </div>
            </li>
              <li>
              <div class="date">2021-Present</div>
              <div class="info">
                     <p class="semi-bold">Laguna State Polytecnic University</p>
                  <p>Currently studying here in the campus for the future</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Hobby</p>
         </div>
       <ul>
         <li><i class="fas fa-book"></i></li>
         <li><i class="fas fa-gamepad"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>
  </div>
</div>