<!DOCTYPE html>
<html>
<head>
<title>Resume</title>
</head>
<style>

.color{
    background-color: tomato;
    color: black;
    padding: 40px;
    text-align: left;
    }

   .kulay{
      background-color: gray;
      color: black;
      padding:40;
      text-align: left;
      }
    </style>



<br>
<br>
<body>
<div class="kulay">
<h1>Mark Jeanson A.Pelaez </h1>
<h2>  Information Technology </h2>
</div>


<img src="https://user-images.githubusercontent.com/101682048/159904594-3497c207-24dd-4159-90ec-2f54a2daabb5.jpg" width = 200 height = 200 hspace=300 align = right>
<h3> <u>markjeanson.pelaez@lspu.edu.ph</u> </h3>
<h3> <u>Contact No: 09453141871</u></h3>
<br>
<hr>

<div class="color">
<h2><b> <u>Profile</u></b></h2>
           <p> Disciplined and enthusiastic programmer. Eager to join the team to boost productivity and engage in problem solving. </p>
</div>
<hr>

<div class="color">
<h2> <b> <u> Skills</b> </u>
          <ul>
               <li> Computer Literate</li>
               <li> Computer Hardware Knoledge</li>
               <li> Computer Software Knowledge</li>
               <li> Troubleshooting</li>
               </ul>
               </div>
               <hr>
 <div class="color">
<h2><b> <u> Education</b> </u></h2>
           <ol>
               <li>Llavac Elementary School</li>
               <li>Siniloan Integrated National High School</li>
               <li>Laguna State Polytechnic University</li>
               </div>


</body>
</html>